@{
    ViewData["Title"] = "Página Principal";
}

<h1 class="margin">Bem vindo ao site da veterinária</h1>

<img src="/images/veterinaria.png" class="center"/>

<p class="margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non nisi vitae ex malesuada condimentum id mattis est. In sagittis, metus ac rutrum euismod, velit libero euismod nisl, id tempor magna est a est. In ac dolor in ante vehicula convallis quis sed tellus. Suspendisse non lacus ultrices, ullamcorper est id, porttitor arcu. Pellentesque nec purus pharetra, eleifend tortor et, vestibulum dolor. Integer ligula felis, laoreet et iaculis eget, auctor eu est. Donec ullamcorper tellus tellus, eu ullamcorper arcu dapibus at. In sed condimentum augue, nec cursus neque. Curabitur sem leo, porta sed mauris id, viverra varius neque. Sed euismod mattis nulla, vel suscipit lorem aliquam maximus. Mauris non leo massa. Ut dignissim ante sit amet condimentum mattis. Ut cursus justo sed sapien mollis, ac vehicula mauris rhoncus. Duis dapibus porttitor massa non congue. Duis egestas sapien nec ante tincidunt, vitae aliquet tortor varius. Nullam sit amet magna sapien.</p>