@{
    ViewData["Title"] = "Serviços";
}

<h1 class="margin">Serviços</h1>

<ul>
    <li>Serviço 1</li>
    <ul>
        <li>Banho</li>
        <li>R$10,00</li>
    </ul>
    <li>Serviço 2</li>
    <ul>
        <li>Tosa</li>
        <li>R$15,00</li>
    </ul>
    <li>Serviço 3</li>
    <ul>
        <li>Exames</li>
        <li>R$50,00</li>
    </ul>
</ul>